node_modules
.pnpm-debug.log
dist
types
.DS_Store
projects/offical/public/.DS_Store
projects/offical/src/preview/player/SelectVideo.tsx
projects/offical/public/.DS_Store
projects/offical/public/.DS_Store
