## 内部库
@yy:registry=https://npm-registry.yy.com/
@gfe:registry=https://npm-registry.yy.com/
@webbase:registry=https://npm-registry.yy.com/
@friend:registry=https://npm-registry.yy.com/
@empjs:registry="https://registry.npmjs.org"

