.preview_wrap{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background: #FFF;
    overflow-x: hidden;
}

.setting_button{
  position: fixed !important;
  left: 6px;
  top: 6px;
}

.extend_button {
  position: fixed !important;
  right: 6px;
  top: 6px;
}

.MainLayoutStyle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    flex-direction: column;
    padding-bottom: 20px;
    user-select: none;
  }
  
  .MainWrapStyle {
    position: relative;
    // border: 1px dashed #ccc;
    border-radius: 10px;
    margin-top: 140px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    canvas{
        width: 100%;
        height: 100%;
        z-index: 1;
    }
  }
  
  .MainWrapBorder{
    position: absolute;
    pointer-events: none;
  }
  
  .OutSideBackground{
    position: absolute;
    pointer-events: none;
    // z-index: -1;
  }
  
  .playerbackground{
    // background: #222;
    // background-image: linear-gradient(rgba(255,255,255,.3) 1px, transparent 0),
    // linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 0),
    // linear-gradient(white 1px, transparent 0),
    // linear-gradient(90deg, white 1px, transparent 0);
    // background-size: 15px 15px, 15px 15px, 75px 75px, 75px 75px;
  }
  
  .rotateIcon {
    width: 80px;
    height: 16px;
    line-height: 16px;
    display: inline-block;
    vertical-align: text-bottom;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 5px;
    &:hover{
        text-decoration: underline;
    }
  }
  
  .MainWrapDesc {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .MainWrapDescContent{
    text-align: center;
    padding: 50px;
  }
  
  .MainWrapDescFont {
    color: #ccc;
    font-size: 18px;
    margin-top: 40px;
  }
  
  .TopBarDescFont {
    color: #ccc;
    font-size: 14px;
    margin-top: 10px;
  }
  
  .TopBarDescFont > input {
    width: 60px;
  }
  
  .RedFont {
    color: red;
  }

  .buttonWrap{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 20px;
  }
  
  .uploadButton {
    position: relative;
    width: 130px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    background: blue;
    color: #FFF;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 10px;
  }

  .demoButton {
    position: relative;
    width: 130px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    background: green;
    color: #FFF;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .uploadInput {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  
  .ExtendForm {
    margin-top: 40px;
    width: 740px;
    display: none;
    margin-left: auto;
    margin-right: auto;
  }
  
  .ExtendFormTable {
    display: block;
    word-wrap: break-word;
    word-break: break-all;
    color: #666;
  }
  
  .textareaStyle {
    display: block;
    width: 610px;
    height: 300px;
    margin-top: 10px;
  }
  
  .effectBlockStyle {
    padding: 10px;
    font-size: 14px;
  }
  
  .effectBlockStyle > input {
    display: block;
    margin-bottom: 10px;
  }
  
  .effectSubmitStyle {
    margin: 10px 0;
      padding: 5px 20px;
      border: 0;
      color: #fff;
      background: var(--ifm-color-primary);
      border-radius: 5px;
  }
  .iphone{
      width: 390px;
      height: 884px;
  }
  .android{
      width: 375px;
      height: 667px;
  }
  