.wrap{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: 0 0/15px 15px,0 0/15px 15px,0 0/75px 75px,0 0/75px 75px #222;
	background-image: linear-gradient(hsla(0,0%,100%,.3) 1px,transparent 0),linear-gradient(90deg,hsla(0,0%,100%,.3) 1px,transparent 0),linear-gradient(#fff 1px,transparent 0),linear-gradient(90deg,#fff 1px,transparent 0);
}
