video {
  width: 100%;
  max-width: 500px;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

body {
  background: 0 0/15px 15px, 0 0/15px 15px, 0 0/75px 75px, 0 0/75px 75px #222;
  background-image:
      linear-gradient(hsla(0, 0%, 100%, .2) 1px, transparent 0),
      linear-gradient(90deg, hsla(0, 0%, 100%, .2) 1px, transparent 0);

}
html,body{
  height: 100vh;
  padding: 0;
  margin: 0;
}